item
   {display:block;}
name
   {font-weight:bold; font-size:14pt; text-indent:5mm; font-style:normal;}
info
   {font-size:14pt;}
dop
   {display:block; font-style:italic; font-size:12pt; text-indent:10mm;}